/* Reset by Eric A.: http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.15;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography styles. */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

/* Layout styles. */
.container {
  margin: auto;
}

.container-xl {
  width: 1280px;
  max-width: 1280px;
}

.container-ms {
  width: 981px;
  max-width: 981px;
}

/* Custom CSS goes here! */
.main-header {
  background-color: #000000;
}

.header-content p, .header-content a {
  color: #ffffff;
  font-size: 18px;
}

.header-top.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header-top.header-content li a {
  text-decoration: none;
  margin: 10px;
}
.header-top.header-content .header-menu {
  display: flex;
}

.main-footer {
  background-color: #e9e9ee;
  padding: 50px 0px;
}

.content-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-wrapper h1 {
  margin-bottom: 20px;
}

.post-content {
  line-height: 1.8em;
}
.post-content p {
  margin-bottom: 10px;
}

.embed-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.embed-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}