/* Create your SCSS variables here. */
// _variables.scss

/* Colors */
$color__black: #000000;
$color__white: #ffffff;
$color__red: #ff0000;
$color__yellow: #ffff00;
$color__gray: #aaaaaa;
$color__blue: #0000ff;
$color__green: #00ff00;